/*
*
* ==========================================
* Bootstrap tempalte
* ==========================================
*
*/
.social-link {
    color: #fff;
    background: #ff3f3f;
    display: block;
    transition: all 0.3s;
}

.social-link:hover, .social-link:focus {
    color: white;
    text-decoration: none;
}
.social-link .icon {
    width: 4rem;
    text-align: center;
    margin-right: 1.5rem;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.social-facebook {
    background: #3b5998;
}
.social-facebook:hover, .social-facebook:focus {
    background: #2d4373;
}
.social-link-gradient.social-facebook {
    background: linear-gradient(to right, #3b5998, #718dc8);
}

.social-google-plus {
    background: #dd4b39;
}
.social-google-plus:hover, .social-google-plus:focus {
    background: #c23321;
}
.social-link-gradient.social-google-plus {
    background: linear-gradient(to right, #dd4b39, #ec9a90);
}

.social-apple{
    background: #000000;
}

.social-apple:hover, .social-apple:focus {
    background: #323131;
}

.social-link-gradient.social-apple {
    background: linear-gradient(to right, #04C259, #53AA47);
}
		
.social-wechat{
    background: #04C259;
}
.social-wechat:hover, .social-wechat:focus {
    background: #53AA47;
}
.social-link-gradient.social-wechat {
    background: linear-gradient(to right, #04C259, #53AA47);
}		


/*
*
* ==========================================
* custom css
* ==========================================
*
*/
.popup_body {
    min-height: 100vh;
    background-color: #e8cbc0;
    background-image: linear-gradient(147deg, #e8cbc0 0%, #636fa4 100%);
}



.sub-color {
    background-color: #E6987A;
    background-image: linear-gradient(147deg, #CFD3E6 0%, #E6987A 100%);
}

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

.iframe_custom {
	width: 400px;
	height: 800px;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.login_back {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
}
.loading{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.7);
	position:absolute;
	left:0;
	top:0;
	z-index:333;
	display:none;
}
